@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Bitter', 'Roboto' !important;
    border: 0;
    margin: 0;
    -webkit-transition: all .2s ease !important;
    -moz-transition: all .2s ease !important;
    -o-transition: all .2s ease !important;
    transition: all .2s ease !important;
}
.color-gray-custom {
    background-color: #8C8C8C !important;
}
.color-gray-custom * {
    color: #fafafa;
}
.header-font-style {
    font-weight: bold;
    font-size: 15px;
}
@media screen and (min-width: 1250px){
    .header-padding {
        padding: 0 3rem !important;
    }
}

